<!-- Nav Bar-->
<div>
  <app-nav-bar></app-nav-bar>
</div>
<!-- Ofertas -->
<div>
  <app-carousel></app-carousel>
</div>
  <!-- Lista de Productos-->

  <div class="card-section-container m-5">

    <div class="cards-caption text-start mb-4 ">
      <h1  class="" style="text-align: center;"> Productos </h1>
    </div>

    <div class="row mx-auto row-cols-md-4 g-4 p-2 w-75 h-50">
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/productos/calendario.jpg" class="card-img-top" alt="productos">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title">Calendario</h5>
              <p class="card-text">1 --> 15€</p>
            </div>
            <div class="row">
              <a href="" class="col carrito" data-bs-toggle="modal" data-bs-target="#dropFileModal"><i class="fas fa-shopping-cart"></i></a>
              <input id="form1" min="0" name="quantity" value="1" type="number" class="col form-control form-control-sm" />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/productos/carpeta.jpg" class="card-img-top" alt="productos">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title">Carpeta</h5>
            <p class="card-text">1 --> 1'5€<br> 3--> 5€</p>
             <div class="row">
              <a href="" class="col carrito" data-bs-toggle="modal" data-bs-target="#dropFileModal"><i class="fas fa-shopping-cart"></i></a>
              <input id="form1" min="0" name="quantity" value="1" type="number" class="col form-control form-control-sm" />
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/productos/dinA4.jpg" class="card-img-top" alt="productos">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title">Copia dinA4</h5>
            <p class="card-text">1 --> 0'0010€</p>
            <div class="row">
              <a href="" class="col carrito" data-bs-toggle="modal" data-bs-target="#dropFileModal"><i class="fas fa-shopping-cart"></i></a>
              <input id="form1" min="0" name="quantity" value="1" type="number" class="col form-control form-control-sm" />
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/productos/driptico.jpg" class="card-img-top" alt="productos">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title">Driptico</h5>
            <p class="card-text">1 --> 2€</p>
            <div class="row">
              <a href="" class="col carrito" data-bs-toggle="modal" data-bs-target="#dropFileModal"><i class="fas fa-shopping-cart"></i></a>
              <input id="form1" min="0" name="quantity" value="1" type="number" class="col form-control form-control-sm" />
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/productos/flyer.jpg" class="card-img-top" alt="productos">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title">Flyer</h5>
            <p class="card-text">1 --> 1€</p>
             <div class="row">
              <a href="" class="col carrito" data-bs-toggle="modal" data-bs-target="#dropFileModal"><i class="fas fa-shopping-cart"></i></a>
              <input id="form1" min="0" name="quantity" value="1" type="number" class="col form-control form-control-sm" />
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/productos/foto.jpg" class="card-img-top" alt="productos">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title">Fotos</h5>
            <p class="card-text">1 --> 0'50€</p>
           <div class="row">
              <a href="" class="col carrito" data-bs-toggle="modal" data-bs-target="#dropFileModal"><i class="fas fa-shopping-cart"></i></a>
              <input id="form1" min="0" name="quantity" value="1" type="number" class="col form-control form-control-sm" />
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/productos/sobre.jpg" class="card-img-top" alt="productos">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title">Sobres</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <div class="row">
              <a href="" class="col carrito" data-bs-toggle="modal" data-bs-target="#dropFileModal"><i class="fas fa-shopping-cart"></i></a>
              <input id="form1" min="0" name="quantity" value="1" type="number" class="col form-control form-control-sm" />
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/images/productos/cartel.jpg" class="card-img-top" alt="productos">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title">Carteles</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           <div class="row">
              <a href="" class="col carrito" data-bs-toggle="modal" data-bs-target="#dropFileModal"><i class="fas fa-shopping-cart"></i></a>
              <input id="form1" min="0" name="quantity" value="1" type="number" class="col form-control form-control-sm" />
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="dropFileModal" tabindex="-1" aria-labelledby="dropFileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dropFileModalLabel">Elige archivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Arrastra el archivo que quieres usar para consumir este tipo de producto
        <br>
        <br>
      <div class="file-upload-wrapper">
          <input type="file" id="input-file-now" class="file-upload" />
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Añadir a Carrito</button>
      </div>
    </div>
  </div>
</div>
  

<!-- Footer -->
<div>
  <app-footer></app-footer>
</div>



