<div *ngIf= "login || register_info">   
    <router-outlet></router-outlet>
</div>

<main *ngIf="!register_info" class="d-flex align-items-center min-vh-100 py-3 py-md-0">
 <div class="container">
      <div class="card register-card">
        <div class="row no-gutters">

          <div class="col-md-5">
            <img src="/assets/images/BG1.jpg" alt="register" class="register-card-img">
          </div>

          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="assets/logo.svg" alt="logo" class="logo">
              </div>
              <p class="register-card-description">Registro </p>
              <form action="#!">
                  <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" placeholder="Email" required="required"> 
                  </div>
                  <div class="form-group">
                    <label for="password" class="sr-only">Contraseña</label>
                    <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" placeholder="Password" required="required">
                  </div>
                  <div class="form-group">
                    <label for="confirm_password" class="sr-only">Confirmar contraseña</label>
                    <input type="password" [(ngModel)]="confirm_password" name="password" id="confirm_password" class="form-control" placeholder="Confirmar password" required="required">
                  </div>
                    <button name="register" id="register" class="btn btn-block register-btn mb-4" type="submit" routerLink="/login" routerLinkActive="active" (click)="register()">   Resgistrar
                    </button>
                </form>

                <p class="register-card-footer-text">Ya eres usuario? 
                  <a routerLink="/login" routerLinkActive="active" class="text-reset" (click)="want_login()">Entra aqui</a>
                </p>
                <nav class="register-card-footer-nav"></nav>
            </div>
          </div>

        </div>
      </div>
    </div>
  <main>
    <!--Bootstrap CDN CSS loader-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
